      x           x   y           y
     / \         / \ / \         / \
    a   y   ->  a   b   r  ->   x   r
       / \                     / \
      b   r                   a   b

      5           5   7           7
     / \         / \ / \         / \
    3   7   ->  3   6   8  ->   5   8
       / \                     / \
      6   8                   3   6
